@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;


    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    color: #fff;
}

/*noinspection CssInvalidFunction*/
.body {
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(12fr, 1fr);
    grid-template-rows:repeat(12fr, 1fr);
}

.NavBar {
    background-color: #000000;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.Footer {
    background-color: #000000;
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.LeftSideMenu {
    background-color: #000000;
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
}

.RightSideMenu {
    background-color: #000000;
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

/*main page body style */
.PageContent {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.pageTitle {
    text-align: center;
}

.PageConten {
    background-color: #000000;
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}

.NavBar {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.pagesList ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 10px;
}

.Brand{
    padding-left: 10px;
}

.PageContent{
    background: -moz-repeating-radial-gradient(circle at top, #FF0000, transparent),
    radial-gradient(circle at top, #FF0000, transparent);

    background-size: 400% 400%;
    animation: AnimationBG 12s ease-in-out infinite;
}

@-webkit-keyframes AnimationBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


